<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="bootstrap/css/bootstrap.css"/>
		<link href='http://fonts.googleapis.com/css?family=Capriola|Damion' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/font-awesome.css"/>
		<link rel="stylesheet" href="css/styles.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<title><%= title %></title>
	</head>
  	<body>
	  	<div class="container">
	  		<ul id="nav-bar" class="nav nav-pills">
	  			<li class="active"><a class="nav-link-about"><i class="icon-info-sign"></i></a></li>
	  			<li><a class="nav-link-posts"><i class="icon-heart"></i></a></li>
	  			<li><a class="nav-link-post" href="/"><i class="icon-pencil"></i></a></li>
	  			<li class="clear"></li>
	  		</ul>

	  		<div id="about" class="well">
				Sometimes words can be so absolute, black and white. But reality never is. Here, say what you didn't think you could say, and share with others with the same secret.
			</div>
	  	</div>
  	</body>
</html>