<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="bootstrap/css/bootstrap.css"/>
		<link href='http://fonts.googleapis.com/css?family=Capriola|Damion' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/font-awesome.css"/>
		<link rel="stylesheet" href="css/styles.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<title><%= title %></title>
	</head>
  	<body>
	  	<div class="container">
	  		<ul id="nav-bar" class="nav nav-pills">
	  			<li><a class="nav-link-about" href="/about"><i class="icon-info-sign"></i></a></li>
	  			<li><a class="nav-link-posts"><i class="icon-heart"></i></a></li>
	  			<li class="active"><a class="nav-link-post" href="/"><i class="icon-pencil"></i></a></li>
	  			<li class="clear"></li>
	  		</ul>

	  		<div class="well" style="position:relative;top:50px;padding:50px">
	  			<h1>I love you,</h1>
	  			<form>
	  				<h1 style="float:left">but</h1>
	  				<textarea id="val-but" placeholder="why is there still a but?"></textarea>
	  				<button id="btn-but" type="button" class="btn btn-primary btn-large" style="margin-top:40px;margin-left:20px">Post</button>
	  			</form>
	  			<div id="post">
	  				<h1></h1>
	  				<ul id="post-actions" class="nav">
						<li><a><i class="icon-heart"></i> Like (12)</a></li>
						<li><a><i class="icon-share"></i> Share</a></li>
						<li><a><i class="icon-comment"></i> Comment</a></li>
						<li class="clear" style="float:none"></li>
					</ul>
				</div>
	  			<div class="clear"/>
	  		</div>
	  	</div>

	  	<script type="text/javascript">
$("#post").hide();
$("#btn-but").click(function() {
	var value = $.trim($("#val-but").val());
	if (value) {
		$.ajax({
			type: 		"POST",
			url: 		"/post",
			data: 		{reason: value},
			success: 	function() {
				$("form").fadeOut(function() {
					$("#post h1").text("but "+value);
					$("#post").fadeIn();
				})
			}
		})
	}
})

$(".nav-link-posts").click(function() {
	$.ajax({
		type: 		"GET",
		url: 		"/posts",
		context: 	this,
		success: 	function(data) {
			var $fadeEl;
			if ($("form").is(":visible")) {
				$fadeEl = $("form");
				$("#nav-bar li.active").removeClass("active");
				$(this).parents("li").addClass("active");
			}
			else {
				$fadeEl = $("#post");
			}
			$fadeEl.fadeOut(function() {
				$("#post h1").text("but "+data);
				$("#post").fadeIn();
			})
		}
	})
})
	  	</script>
  	</body>
</html>