<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="bootstrap/css/bootstrap.css"/>
		<link href='http://fonts.googleapis.com/css?family=Capriola|Damion' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/font-awesome.css"/>
		<link rel="stylesheet" href="css/styles.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<title><%= title %></title>
	</head>
  	<body>
	  	<div class="container">
	  		<ul id="nav-bar" class="nav nav-pills">
	  			<li><a class="nav-link-about"><i class="icon-info-sign"></i></a></li>
	  			<li><a class="nav-link-posts"><i class="icon-heart"></i></a></li>
	  			<li class="active"><a class="nav-link-post"><i class="icon-pencil"></i></a></li>
	  			<li class="clear"></li>
	  		</ul>

	  		<div class="well" style="position:relative;top:50px;padding:50px">
	  			<h1>I love you,</h1>
	  			<h1 style="float:left">but</h1>
	  			<textarea placeholder="why is there still a but?"></textarea>
	  			<button type="button" class="btn btn-primary btn-large" style="margin-top:40px;margin-left:20px">Post</button>
	  			<div class="clear"/>
	  		</div>
	  	</div>
  	</body>
</html>